<!DOCTYPE html>
<html id="docs">
<head>
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/documentation.css" />
</head>
<body id="docs">
  <div id="doc-wrapper">

    <div id="doc-header">
      <a href="<%= SETTINGS.logo_path %>" target="_blank"><img src="<%= SETTINGS.logo_image %>"/></a>
    </div>
    <div id="doc-navigation">
      
      <% SETTINGS.links.each do |name,path| %>
        <%= "<a href=#{path}>#{name}</a>" %>
      <% end %>    

    </div>
    <div id="doc-content-wrapper">
      <div id="doc-content">

        <%= @content %>

      </div>
    </div>

    <div id="doc-leftcolumn">
      <a href="/documentation">Home</a>
      <% for sub in @uri %>

        <% if sub !~ /documentation/ %>
          &raquo;&nbsp;<a href="<%= @path %>"><%= sub %></a>
        <% end %>
      <% end %>

      <ul>
        <% for dir in @subs[:dirs] %>
        <li class="folder">
          <a href="<%= "#{@path}/#{dir}" %>"><%= dir %></a>
        </li>
        <% end %>

        <% for file in @subs[:files] %>
          <% classes = '' %>
          <% if @file == file %>
            <% classes = "current" %>
          <% end %>

          <li class="page <%= classes %>">
            <a href="<%= "#{@path}/#{file}" %>"><%= File.basename(file, ".*") %></a>
          </li>
        <% end %>

      </ul>

    </div>
  </div>

</body>
</html>
